
html {
	height: 100%;
	background: url("../img/banner.png") center 0 no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}