@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,700|Open+Sans:400,500');

body {
	display: block;
	color: #4E4E4E;
	font: 16px/1.7 "Roboto", sans-serif;
	font-weight: 400;
	letter-spacing: 1px;
	-webkit-font-smoothing: antialiased;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	background: transparent;
	font-weight: 300;
	word-wrap: break-word;
}

/* Header */

.header-fix {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
}

.header {
	margin-top: 15px;
	margin-bottom: 45px;
}

.header h1.name {
	font-size: 48px;
	color: #FFF;
	margin: 0;
	text-transform: uppercase;
	text-shadow: 0 1px 4px rgba(0, 0, 0, .5);
}
.header h3.designation {
	color: #FFF;
	font-weight: normal;
	margin: 0;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}
.header .social .txt{
	color: #FFF;
	text-decoration: none;
}
.header .social a{
	text-decoration: none;
}


/*BODY*/

.page {
	background: #FFF;
	min-height: 700px;
	padding: 0 60px;
}
/*Sections*/
.section-margin {
	margin: 45px 0;
}
.section-color {
	color: #FFF;
	padding-top: 60px;
	padding-bottom: 60px;
}
.section-h2 {
	margin: 0;
	margin-bottom: 15px;
	text-transform: uppercase;
}

.icon-circle {
	border-radius: 100%;
	height: 64px;
	width: 64px;
	background: rgba(0, 160, 159, .65);
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	padding-top: 16px;
	margin-right: 15px;
}
.icon-circle .fa {
	color: #FFF;
	font-size: 32px;
}
.section-color .icon-circle {
	background: rgba(0, 0, 0, .2);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, .5), 0 1px 1px rgba(255, 255, 255, .3);
}

/*Time line*/

.time-line {
	margin-left: 32px;
	padding-left: 47px;
	position: relative;
}
.time-line:before {
	content: '';
	display: block;
	position: absolute;
	left: -1px ;
	top: 4px;
	bottom: 0;
	border-left: 1px solid #E5E5E4;
}
.time-line .time:before {
	content: '';
	display: block;
	border-radius: 100%;
	height: 16px;
	width: 16px;
	background: #E5E5E4;    
	margin-left: -56px;
  position: absolute;
	margin-top: 4px;
}
.time-line .date {
	color: #666;
}
.time-line .role {
	font-weight: lighter;
	font-style: italic;
}
.time-line .time:not(:first-child) {
	margin-top: 45px;
}

.section-color .time-line:before {
	border-left-color: #FFF;
}
.section-color .time-line .time:before {
	background: #FFF;
}
.section-color .time-line .date {
	color: #DDD;
}
/*Tech*/
.tech-label .label{
	background: rgba(0, 160, 159, .65);
	font-weight: normal;
}
.section-color .tech-label .label {
	background: rgba(0, 0, 0, .2);
}
.tech {
	margin: 0;
	padding: 0;
}
.tech li {
	text-align: center;
	font-size: 12px;
	font-weight: normal;	
	display: inline-block;
	margin: 10px;
}

.tech li span{
	display: inline-block;
	border-radius: 100%;
	height: 64px;
	width: 64px;
	background: rgba(0, 160, 159, .65);
	margin-bottom: 10px;
	color: #FFF;
	line-height: 64px;
}
.section-color .tech li span {
	background: rgba(0, 0, 0, .2);
}

.work-sample a {
	text-decoration: none;
	color: rgba(0, 160, 159, .65);
}
.section-color .work-sample a {
	color: rgba(0, 0, 0, .2);
}
.section-color .work-sample a .txt{
	color: #FFF;;
}

/*Footer*/

footer {
	padding: 15px;
}
.footer-padding {
	padding-bottom: 64px;
}

/*STYLE TWO*/

.hero {
	height: 300px;
	background: url("assets/images/banner_4.png") center 0 no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	text-align: center;
	color: #0a5490;
	position: relative;
}

.hero div {
	padding: 10px 15px;
	width: 100%;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
  -webkit-transform: translate(-50%, -60%);
  -moz-transform: translate(-50%, -60%);
  -o-transform: translate(-50%, -60%);
	transform: translate(-50%, -60%);
}

.hero h1 { 
	font-size: 64px;
	text-shadow: 0 0 5px rgba(0, 0, 0, .1)
}

.hero h4 { 
	font-size: 40px;
	text-shadow: 0 0 5px rgba(0, 0, 0, .1);
	font-weight: lighter;
}

/* Navigation */
.ui-menu-color01 {
  background-color: #AB5C57 !important; }

.ui-menu-color02 {
  background-color: #639E8C !important; }

.ui-menu-color03 {
  background-color: #EBAE55 !important; }

.ui-menu-color04 {
  background-color: #877696 !important; }

.ui-menu-color05 {
  background-color: #80795D !important; }

.ui-menu-color06 {
  background-color: #d9a81d !important; }

.navbar {
	border: 0;
	margin: 0;
}
.navbar ul {
	margin: 0;
	padding: 0;
}
.navbar ul li {
	display: block;
	width: 20%;
	float: left;
}
.navbar ul li a {
    text-transform: uppercase;
	display: block;
	width: 100%;
	padding: 19px 15px 18px;
	text-align: center;
	color: #FFF;
	text-decoration: none;
	-webkit-transition: all .5s ease-out;
	transition: all .5s ease-out;
}
.navbar ul li:hover a {
	background: rgba(0, 0, 0, 0.2);
}

.versionlink {
	display: inline-block;
	background: rgba(0, 0, 0, 0.1);
	position: absolute;
	right: 0;
	top: 10px;	
	color: #FFF;
	font-size: 12px;
	text-decoration: none;
	z-index: 101;
}
.versionlink a {
	padding: 2px 12px;
	display: inline-block;
	color: #FFF;
	font-size: 12px;
	text-decoration: none;
}
.versionlink a:hover,
.versionlink a:active,
.versionlink a:focus {
	background: rgba(0, 0, 0, 0.2);
	color: #FFF;
	text-decoration: none;
}
b, strong {
    font-weight: 500;
}


/*MEDIA*/
@media (min-width: 768px) {
	.navbar ul li a {
		
	}
	.navbar ul li a i {
		display: none;
	}
	
}

@media (max-width: 767px) {
	.navbar ul li a {
		padding-top: 16px;
		padding-bottom: 13px;
	}
	.navbar ul li a span {
		display: none;
	}
	.navbar ul li a i {
		font-size: 32px;
	}
	
}

@media (max-width: 500px) {
	
	.header {
		margin-bottom: 15px;
	}
	.header .social {
		margin-top: 15px;
	}
	.header .col-xs-8,
	.header .col-xs-4 {
		width: 100%;
	}
	
	.page {
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.hero h1 { 
		font-size: 48px;
	}

	.hero h4 { 
		font-size: 24px;
	}
	
	.icon-circle {
		height: 48px;
    width: 48px;
		vertical-align: inherit;
		padding-top: 8px;
	}
	
	.icon-circle .fa {
		font-size: 24px;
	}
	
	.time-line {
		margin-left: 24px;
		padding-left: 39px;
	}
	.time-line .time:before {
		margin-left: -48px;
	}
}